<% layout('layout/page.ejs') %>

   <div class="main-screen">
      <div class="main-screen__user">
         <% if(user) {%>
            <h1>Привет, <%= user.username %>
            </h1>
            <% }else{ %>
               <h2>Зарегистрируйтесь, чтобы видеть все страницы сайта!</h2>
               <% } %>
      </div>

      <div class="main-screen__counter">
        Счетчик:  <%= counter %>
      </div>
   </div>