<% layout('layout/page.ejs') %>
    <div class="conteiner">
        <div class="form-content">
            <h1 class="form-content__title">Регистрация и вход</h1>
            <p>Введите имя пользователя и пароль, если такого пользователя нет, то он будет создан.</p>
            <form action="/logreg" method="post" class="form">
                <div class="form__row">
                    <div class="form__item">
                        <input type="text" placeholder=" " name="username">
                        <label for class="form__label">Имя</label>
                    </div>
                </div>
                <div class="form__row">
                    <div class="form__item">
                        <input type="password" placeholder=" " name="password">
                        <label for class="form__label">Пароль</label>
                    </div>
                </div>
                <div class="buttons buttons">
                    <input class="btn" type="submit" value="Войти" />
                </div>
                <% if(error) { %>
                    <div class="alert alert-danger  form-error">
                        <%= error %>
                    </div>
                    <% } %>
            </form>
        </div>
    </div>