/*_______________| ZERO |_______________*/
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
	color: #fff;
}

html,
body {
	height: 100%;
	font-weight: 500;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15;
}

/*_______________| CONTAINER |_______________*/

[class*="__container"] {
	max-width: 1515px;
	padding: 0px 15px;
	margin: 0px auto;
}

/*_______________| WRAPPER |_______________*/

.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.header {
	background-color: #212529;
}

.footer {
	height: 50px;
	display: flex;
	align-items: center;
	color: #000;
	background-color: #606061;
}

/*_______________| PAGE |_______________*/

.page {
	flex: 1 1 auto;
	background-color: #000;
	padding: 50px 0px;
}

.page__container>*:not(:last-child) {
	margin: 0px 0px 30px 0px;
}

.page__header {
	text-align: center;
}

.page__header>*:not(:last-child) {
	margin: 0px 0px 30px 0px;
}

/*_______________| IMG and TEXT |_______________*/
img {
	width: 640px;
	height: 360px;
	margin: 0 auto;
}

h1,
h4 {
	line-height: 200%;
}

/*_______________| ERROR |_______________*/
.error {
	padding: 100px 0px 0px 0px;
	text-align: center;
}

.error>*:not(:last-child) {
	margin: 0px 0px 10px 0px;
}

.error-img {
	width: 70px;
	height: 70px;
}