*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	line-height: 1;
	font-family: Poppins;
	font-weight: 500;
	color: rgb(109, 34, 34);
	font-size: 15;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.page {
	flex: 1 1 auto;
  background-color: #0080FF;
}

.header {
  background-color: #212529;
}

[class*="__container"] {
	max-width: 1515px;
	padding: 0px 15px;
	margin: 0px auto;
}

.footer {
  height: 50px;
  display: flex;
  align-items: center;
  color: #fff;
  background-color: #000;
}

.page__container {
  padding: 50px 0px 0px 0px;
}

.page__container > *:not(:last-child) {
  margin: 0px 0px 20px 0px;
}

img {
  width: 640px;
  height: 360px;
}

h4 {
  line-height: 150%;
}